@page "/faq's"

            <div class="container-fluid">

                <!-- Page Header -->
                <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                    <h1 class="page-title fw-semibold fs-18 mb-0">Faq's</h1>
                    <div class="ms-md-1 ms-0">
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Páginas</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Faq's</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- Page Header Close -->

                <!-- Start::row-1 -->
                <div class="row justify-content-center mb-5">
                    <div class="col-xl-12">
                        <div class="row justify-content-center">
                            <div class="col-xl-6">
                                <div class="text-center p-3 faq-header mb-4">
                                    <h5 class="mb-1 text-primary op-5 fw-semibold">F.A.Q's</h5>
                                    <h4 class="mb-1 fw-semibold">Dúvidas frequentes</h4>
                                    <p class="fs-15 text-muted op-7">Compartilhamos algumas das perguntas mais frequentes para ajudá-lo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card custom-card">
                                    <div class="card-header">
                                        <div class="card-title">
                                            Tópicos gerais 
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="accordion accordion-customicon1 accordion-primary" id="accordionFAQ1">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingcustomicon2One">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#collapsecustomicon2One" aria-expanded="true"
                                                        aria-controls="collapsecustomicon2One">
                                                         Pergunta 1
                                                    </button>
                                                </h2>
                                                <div id="collapsecustomicon2One" class="accordion-collapse collapse show"
                                                    aria-labelledby="headingcustomicon2One"
                                                    data-bs-parent="#accordionFAQ1">
                                                    <div class="accordion-body">
                                                        Resposta e descrição da pergunta 1
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingcustomicon2Two">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapsecustomicon2Two"
                                                        aria-expanded="false" aria-controls="collapsecustomicon2Two">
                                                        Pergunta 2
                                                    </button>
                                                </h2>
                                                <div id="collapsecustomicon2Two" class="accordion-collapse collapse"
                                                    aria-labelledby="headingcustomicon2Two"
                                                    data-bs-parent="#accordionFAQ1">
                                                    <div class="accordion-body">
                                                        Resposta e descrição da pergunta 2
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingcustomicon2Three">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapsecustomicon2Three"
                                                        aria-expanded="false" aria-controls="collapsecustomicon2Three">
                                                        Pergunta 3
                                                    </button>
                                                </h2>
                                                <div id="collapsecustomicon2Three" class="accordion-collapse collapse"
                                                    aria-labelledby="headingcustomicon2Three"
                                                    data-bs-parent="#accordionFAQ1">
                                                    <div class="accordion-body">
                                                        Resposta e descrição da pergunta 3
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingcustomicon2Four">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapsecustomicon2Four"
                                                        aria-expanded="false" aria-controls="collapsecustomicon2Four">
                                                        Pergunta 4
                                                    </button>
                                                </h2>
                                                <div id="collapsecustomicon2Four" class="accordion-collapse collapse"
                                                    aria-labelledby="headingcustomicon2Four"
                                                    data-bs-parent="#accordionFAQ1">
                                                    <div class="accordion-body">
                                                        Resposta e descrição da pergunta 4
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>  
                            <div class="col-xl-6">
                                <div class="card custom-card">
                                    <div class="card-header">
                                        <div class="card-title">
                                            Outras dúvidas
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="accordion accordion-customicon1 accordion-primary" id="accordionFAQ3">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingcustomicon3One">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#collapsecustomicon3One" aria-expanded="false"
                                                        aria-controls="collapsecustomicon3One">
                                                        Pergunta 5
                                                    </button>
                                                </h2>
                                                <div id="collapsecustomicon3One" class="accordion-collapse collapse"
                                                    aria-labelledby="headingcustomicon3One"
                                                    data-bs-parent="#accordionFAQ3">
                                                    <div class="accordion-body">
                                                        Resposta e descrição da pergunta 5
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingcustomicon3Two">
                                                    <button class="accordion-button" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapsecustomicon3Two"
                                                        aria-expanded="true" aria-controls="collapsecustomicon3Two">
                                                        Pergunta 6
                                                    </button>
                                                </h2>
                                                <div id="collapsecustomicon3Two" class="accordion-collapse collapse show"
                                                    aria-labelledby="headingcustomicon3Two"
                                                    data-bs-parent="#accordionFAQ3">
                                                    <div class="accordion-body">
                                                        Resposta e descrição da pergunta 6
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingcustomicon3Three">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapsecustomicon3Three"
                                                        aria-expanded="false" aria-controls="collapsecustomicon3Three">
                                                        Pergunta 7
                                                    </button>
                                                </h2>
                                                <div id="collapsecustomicon3Three" class="accordion-collapse collapse"
                                                    aria-labelledby="headingcustomicon3Three"
                                                    data-bs-parent="#accordionFAQ3">
                                                    <div class="accordion-body">
                                                        Resposta e descrição da pergunta 7
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingcustomicon3Four">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapsecustomicon3Four"
                                                        aria-expanded="false" aria-controls="collapsecustomicon3Four">
                                                        Pergunta 8
                                                    </button>
                                                </h2>
                                                <div id="collapsecustomicon3Four" class="accordion-collapse collapse"
                                                    aria-labelledby="headingcustomicon3Four"
                                                    data-bs-parent="#accordionFAQ3">
                                                    <div class="accordion-body">
                                                        Resposta e descrição da pergunta 8
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>  
                             <div class="col-xl-12">
                                 <div class="card custom-card">
                                     <div class="card-header">
                                         <div class="card-title">
                                             Ainda tem dúvidas?
                                             <span class="subtitle fw-normal text-muted d-block fs-12">
                                                Você pode nos enviar suas questões por aqui.
                                            </span>
                                         </div>
                                     </div>
                                     <div class="card-body">
                                         <div class="row gy-3">
                                             <div class="col-xl-6">
                                                <label for="user-name" class="form-label">Seu nome</label>
                                                <input type="text" class="form-control form-control-light" id="user-name" placeholder="Insira seu nome">
                                             </div>
                                             <div class="col-xl-6">
                                                <label for="user-email" class="form-label">Email</label>
                                                <input type="text" class="form-control form-control-light" id="user-email" placeholder="Insira seu Email">
                                             </div>
                                             <div class="col-xl-12">
                                                <label for="text-area" class="form-label">Descrição</label>
                                                <textarea class="form-control form-control-light" placeholder="Insira sua dúvida aqui" id="text-area" rows="2"></textarea>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="card-footer">
                                         <button class="btn btn-primary btn-wave float-end">Enviar</button>
                                     </div>
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>
                <!--End::row-1 -->

            </div>
