@page "/terms_conditions"
@inject IJSRuntime JSRuntime

            <div class="container-fluid">

                <!-- Page Header -->
                <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                    <h1 class="page-title fw-semibold fs-18 mb-0">Termos & Condições</h1>
                    <div class="ms-md-1 ms-0">
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Páginas</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Termos & Condições</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- Page Header Close -->

                <div class="container-lg">
                    <!-- Start::row-1 -->
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-body p-0">
                                    <div class="p-3 terms-heading-cover d-flex align-items-center text-fixed-white bg-primary h5 fw-semibold mb-0">
                                        <span class="avatar avatar-md me-3">
                                            <img src="../assets/images/media/media-67.png" alt="">
                                        </span> UNIGESTOR - Termos & Condições
                                        <a href="javascript:void(0);" data-bs-toggle="card-fullscreen" class="ms-auto text-fixed-white">
                                            <i class="ri-fullscreen-line"></i>
                                        </a>
                                    </div>
                                    <div class="">
                                        <BlazorOverlayScrollbars>
                                            <BlazorOverlayScrollbarsContent>
                                                <div class="p-4 text-muted terms-conditions" id="terms-scroll">
                                                    <div class="mb-5">
                                                        <p class="mb-3 op-7">
                                                            <span class="fw-bold text-default op-8"> Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</span>
                                                        </p>
                                                        <p class="mb-0 op-7">
                                                            <span class="fw-bold text-default op-8">Lorem ipsum dolor sit amet</span>
                                                        </p>
                                                    </div>
                                                    <h6 class="fw-bold pb-3 text-default op-7"><span class="terms-heading">Termos & Serviços :</span></h6>
                                                    <div class="mb-4">
                                                        <p class="fw-semibold text-muted mb-2 fs-14">1 - Lorem ipsum dolor sit amet.</p>
                                                        <p class="op-7 mb-0">
                                                            Lorem ipsum dolor sit amet.
                                                        </p>
                                                    </div>
                                                    <div class="mb-4">
                                                        <p class="fw-semibold text-muted mb-2 fs-14">Lorem ipsum dolor sit amet.</p>
                                                        <p class="op-7 mb-2">
                                                            Lorem ipsum dolor sit amet.
                                                        </p>
                                                        <p class="op-7">
                                                            Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
                                                        </p>
                                                    </div>
                                                    <div class="mb-4">
                                                        <p class="fw-semibold text-muted mb-2 fs-14">3 - There are many variations.</p>
                                                        <p class="op-7">
                                                            Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
                                                        </p>
                                                    </div>
                                                    <div class="mb-4">
                                                        <p class="fw-semibold text-muted mb-2 fs-14">Lorem ipsum dolor sit amet.</p>
                                                        <p class="op-7 mb-2">
                                                            Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
                                                        </p>
                                                        <p class="op-7 mb-2">
                                                            Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
                                                        </p>
                                                    </div>
                                                    <div class="mb-0">
                                                        <p class="fw-semibold text-muted mb-2 fs-14">5 - You could also make it clear.</p>
                                                        <p class="op-7 mb-2">
                                                            Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
                                                        </p>
                                                        <p class="op-7 mb-0">
                                                            Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
                                                        </p>
                                                    </div>
                                                </div>
                                            </BlazorOverlayScrollbarsContent>
                                        </BlazorOverlayScrollbars>
                                    </div>
                                </div>
                                <div class="card-footer d-sm-flex d-block align-items-center justify-content-between shadow-lg">
                                    <div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="privacy-policy">
                                            <label class="form-check-label text-muted" for="privacy-policy">
                                                Eu aceito os termos e condições
                                            </label><a href="javascript:void(0);" class="fw-semibold text-muted ms-1"><u>Política de Privacidade</u></a>
                                        </div>
                                        <div class="form-check d-block">
                                            <input class="form-check-input" type="checkbox" value="" id="terms_conditions">
                                            <label class="form-check-label text-muted" for="terms_conditions">
                                                E concordo com os 
                                            </label><a href="javascript:void(0);" class="fw-semibold text-muted ms-1"><u>Termos & Condições</u></a>
                                        </div>
                                    </div>
                                    <div class="btn-list mt-sm-0 mt-2">
                                        <button class="btn btn-outline-danger btn-wave">RECUSAR</button>
                                        <button class="btn btn-primary btn-wave">ACEITAR</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End::row-1 -->
                </div>

            </div>
    
            
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("interop.initCardFullscreen");
        }
    }
}