@page "/timeline"

            <div class="container-fluid">

                <!-- Page Header -->
                <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                    <h1 class="page-title fw-semibold fs-18 mb-0">Timeline</h1>
                    <div class="ms-md-1 ms-0">
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Páginas</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Linha do Tempo</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- Page Header Close -->

                <div class="container">
                    <ul class="timeline list-unstyled">
                        <li>
                            <div class="timeline-time text-end">
                               <span class="date">Sexta Feira</span>
                               <span class="time d-inline-block">02:31</span>
                            </div>
                            <div class="timeline-icon">
                               <a href="javascript:void(0);"></a>
                            </div>
                            <div class="timeline-body">
                                <div class="d-flex align-items-top timeline-main-content flex-wrap mt-0">
                                    <div class="avatar avatar-md online me-3 avatar-rounded mt-sm-0 mt-4">
                                        <img alt="avatar" src="../assets/images/faces/4.jpg">
                                    </div>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-sm-0 mt-2">
                                                <p class="mb-0 fs-14 fw-semibold">Evento 1</p>
                                                <p class="mb-0 text-muted">Resumo e descrição do evento 1   </p>
                                            </div>
                                            <div class="ms-auto">
                                                <span class="float-end badge bg-light text-muted timeline-badge">
                                                    24,Out 2022
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </li>
                        <li>
                            <div class="timeline-time text-end">
                               <span class="date">Segunda</span>
                               <span class="time d-inline-block">08:47</span>
                            </div>
                            <div class="timeline-icon">
                               <a href="javascript:void(0);"></a>
                            </div>
                            <div class="timeline-body">
                                <div class="d-flex align-items-top timeline-main-content flex-wrap mt-0">
                                    <div class="avatar avatar-md offline me-3 avatar-rounded mt-sm-0 mt-4">
                                        <img alt="avatar" src="../assets/images/faces/15.jpg">
                                    </div>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-sm-0 mt-2">
                                                <p class="mb-0 fs-14 fw-semibold">Evento 2</p>
                                                <p class="mb-0 text-muted">Resumo do evento 2</p>
                                            </div>
                                            <div class="ms-auto">
                                                <span class="float-end badge bg-light text-muted timeline-badge">
                                                    30,Set 2022
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </li>
                        <li>
                            <div class="timeline-time text-end">
                               <span class="date">Ontem</span>
                               <span class="time d-inline-block">18:43</span>
                            </div>
                            <div class="timeline-icon">
                               <a href="javascript:void(0);"></a>
                            </div>
                            <div class="timeline-body">
                                <div class="d-flex align-items-top timeline-main-content flex-wrap mt-0">
                                    <div class="avatar avatar-md offline me-3 avatar-rounded mt-sm-0 mt-4">
                                        <img alt="avatar" src="../assets/images/faces/11.jpg">
                                    </div>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-sm-0 mt-2">
                                                <p class="mb-0 fs-14 fw-semibold">Resumo do evento 3</p>
                                                <p class="mb-0 text-muted">Descrição do evento 3</p>
                                            </div>
                                            <div class="ms-auto">
                                                <span class="float-end badge bg-light text-muted timeline-badge">
                                                    11,Set 2021
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </li>
                        <li>
                            <div class="timeline-time text-end">
                               <span class="date">Hoje</span>
                               <span class="time d-inline-block">03:18</span>
                            </div>
                            <div class="timeline-icon">
                               <a href="javascript:void(0);"></a>
                            </div>
                            <div class="timeline-body">
                                <div class="d-flex align-items-top timeline-main-content flex-wrap mt-0">
                                    <div class="avatar avatar-md online me-3 avatar-rounded mt-sm-0 mt-4">
                                        <img alt="avatar" src="../assets/images/faces/5.jpg">
                                    </div>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-sm-0 mt-2">
                                                <p class="mb-0 fs-14 fw-semibold">Resumo evento 5</p>
                                                <p class="mb-0 text-muted">Resumo do evento 5</p>
                                            </div>
                                            <div class="ms-auto">
                                                <span class="float-end badge bg-light text-muted timeline-badge">
                                                    18,Set 2021
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </li>
                        <li>
                            <div class="timeline-time text-end">
                               <span class="date">Hoje</span>
                               <span class="time d-inline-block">12:24</span>
                            </div>
                            <div class="timeline-icon">
                               <a href="javascript:void(0);"></a>
                            </div>
                            <div class="timeline-body">
                                <div class="d-flex align-items-top timeline-main-content flex-wrap mt-0">
                                    <div class="avatar avatar-md online me-3 avatar-rounded mt-sm-0 mt-4">
                                        <img alt="avatar" src="../assets/images/faces/10.jpg">
                                    </div>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-sm-0 mt-2">
                                                <p class="mb-0 fs-14 fw-semibold">Resumo de tarefa 6</p>
                                                <p class="mb-0 text-muted">Descrição da tarefa 6</p>
                                            </div>
                                            <div class="ms-auto">
                                                <span class="float-end badge bg-light text-muted timeline-badge">
                                                    15,Set 2021
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </li>
                        <li>
                            <div class="timeline-time text-end">
                               <span class="date">Hoje</span>
                               <span class="time d-inline-block">04:11</span>
                            </div>
                            <div class="timeline-icon">
                               <a href="javascript:void(0);"></a>
                            </div>
                            <div class="timeline-body">
                                <div class="d-flex align-items-top timeline-main-content flex-wrap mt-0">
                                    <div class="avatar avatar-md online me-3 avatar-rounded mt-sm-0 mt-4">
                                        <img alt="avatar" src="../assets/images/faces/2.jpg">
                                    </div>
                                    <div class="flex-fill">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-sm-0 mt-2">
                                                <p class="mb-0 fs-14 fw-semibold">Evento 7</p>
                                                <p class="mb-0 text-muted">Descrição do evento 7</p>
                                            </div>
                                            <div class="ms-auto">
                                                <span class="float-end badge bg-light text-muted timeline-badge">
                                                    12,Set 2021
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </li>
                     </ul>
                     <div class="timeline-loadmore-container">
                        <button class="btn btn-info-transparent btn-loader mx-auto">
                            <span class="me-2">Carregando</span>
                            <span class="loading"><i class="ri-loader-4-line fs-16"></i></span>
                        </button>
                     </div>
                 </div>

            </div>
