@using Microsoft.AspNetCore.Components

@if (showPassword)
{
    <div class="input-group">
        <input type="text" class="form-control form-control-lg" placeholder="password" @attributes="AdditionalAttributes" @bind="@Password" />
        <button class="btn btn-light border" type="button"  @onclick="ToggleVisibility">
            <i class="ri-eye-line align-middle"></i>
        </button>
    </div>
}
else
{
    <div class="input-group">
        <input type="password" class="form-control form-control-lg" placeholder="password" @attributes="AdditionalAttributes" @bind="@Password" />
        <button class="btn btn-light border" type="button"  @onclick="ToggleVisibility">
            <i class="ri-eye-off-line align-middle"></i>
        </button>
    </div>
}

@code {
    [Parameter]
    public string? Password { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }

    private bool showPassword = false;

    private void ToggleVisibility()
    {
        showPassword = !showPassword;
    }
}
