@page "/sign-in-basic"
@layout CustomLayout

<div class="container">
    <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
            <div class="my-5 d-flex justify-content-center">
                <a href="home">
                    <img src="assets/images/Unigestor/Logo-NEW.png" alt="logo" class="desktop-logo">
                </a>
            </div>
            <div class="card custom-card">
                <div class="card-body p-5">
                    <p class="h5 fw-semibold mb-2 text-center">Entrar</p>
                    <p class="mb-4 text-muted op-7 fw-normal text-center">Bem vindo</p>
                    <div class="row gy-3">
                        <div class="col-xl-12">
                            <label for="signin-username" class="form-label text-default">Usuário</label>
                            <input type="text" class="form-control form-control-lg" id="signin-username" placeholder="usuário">
                        </div>
                        <div class="col-xl-12 mb-2">
                            <label for="signin-password" class="form-label text-default d-block">Senha<a href="reset-password-basic" class="float-end text-danger">Esqueceu a senha ?</a></label>
                            <PasswordToggle @bind-Password="password" />
                            <div class="mt-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label text-muted fw-normal" for="defaultCheck1">
                                        Lembrar senha ?
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 d-grid mt-2">
                            <a href="home" class="btn btn-lg btn-primary">Entrar</a>
                        </div>
                    </div>
                    <div class="text-center">
                        <p class="fs-12 text-muted mt-3">Não tem uma conta? <a href="sign-up-basic" class="text-primary">Registrar</a></p>
                    </div>
                    <div class="text-center my-3 authentication-barrier">
                        <span>OU</span>
                    </div>
                    <div class="btn-list text-center">
                        <button class="btn btn-icon btn-light">
                            <i class="ri-facebook-line fw-bold text-dark op-7"></i>
                        </button>
                        <button class="btn btn-icon btn-light">
                            <i class="ri-google-line fw-bold text-dark op-7"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string password = "";
}