@page "/gallery"

<!-- GLightbox CSS -->
<link rel="stylesheet" href="../assets/libs/glightbox/css/glightbox.min.css">

            <div class="container-fluid">

                <!-- Page Header -->
                <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                    <h1 class="page-title fw-semibold fs-18 mb-0">Gallery</h1>
                    <div class="ms-md-1 ms-0">
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Apps</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- Page Header Close -->

                <!-- Start::row-1 -->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <a href="../assets/images/media/media-40.jpg" class="glightbox card" data-gallery="gallery1">
                            <img src="../assets/images/media/media-40.jpg" alt="image" >
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <a href="../assets/images/media/media-41.jpg" class="glightbox card" data-gallery="gallery1">
                            <img src="../assets/images/media/media-41.jpg" alt="image" >
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <a href="../assets/images/media/media-42.jpg" class="glightbox card" data-gallery="gallery1">
                            <img src="../assets/images/media/media-42.jpg" alt="image" >
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <a href="../assets/images/media/media-43.jpg" class="glightbox card" data-gallery="gallery1">
                            <img src="../assets/images/media/media-43.jpg" alt="image" >
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <a href="../assets/images/media/media-44.jpg" class="glightbox card" data-gallery="gallery1">
                            <img src="../assets/images/media/media-44.jpg" alt="image" >
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <a href="../assets/images/media/media-45.jpg" class="glightbox card" data-gallery="gallery1">
                            <img src="../assets/images/media/media-45.jpg" alt="image" >
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <a href="../assets/images/media/media-46.jpg" class="glightbox card" data-gallery="gallery1">
                            <img src="../assets/images/media/media-46.jpg" alt="image" >
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <a href="../assets/images/media/media-60.jpg" class="glightbox card" data-gallery="gallery1">
                            <img src="../assets/images/media/media-60.jpg" alt="image" >
                        </a>
                    </div>
                </div>
                <!--End::row-1 -->

            </div>


<!-- Gallery JS -->
<script src="../assets/libs/glightbox/js/glightbox.min.js"></script>
<script src="../assets/js/gallery.js"></script>
