@page "/nft-wallet-integration"

            <div class="container-fluid">

                <!-- Page Header -->
                <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                    <h1 class="page-title fw-semibold fs-18 mb-0">Wallet Integration</h1>
                    <div class="ms-md-1 ms-0">
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">NFT</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Wallet Integration</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- Page Header Close -->

                <div class="container">
                    <!-- Start::row-1 -->
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-header">
                                    <div class="card-title">
                                        Choose Network
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <ul class="list-group list-group-flush nft-list">
                                        <li class="list-group-item">
                                            <a href="javascript:void(0);" class="stretched-link"></a>
                                            <div class="d-flex align-items-center gap-2">
                                                <div>
                                                    <span class="avatar avatar-rounded avatar-sm bg-light p-1">
                                                        <img src="../assets/images/nft-images/34.png" alt="">
                                                    </span>
                                                </div>
                                                <div class="fs-14 fw-semibold">Etherium</div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="javascript:void(0);" class="stretched-link"></a>
                                            <div class="d-flex align-items-center gap-2">
                                                <div>
                                                    <span class="avatar avatar-rounded avatar-sm bg-light p-1">
                                                        <img src="../assets/images/nft-images/35.png" alt="">
                                                    </span>
                                                </div>
                                                <div class="fs-14 fw-semibold">Binance</div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="javascript:void(0);" class="stretched-link"></a>
                                            <div class="d-flex align-items-center gap-2">
                                                <div>
                                                    <span class="avatar avatar-rounded avatar-sm bg-light p-1">
                                                        <img src="../assets/images/nft-images/36.png" alt="">
                                                    </span>
                                                </div>
                                                <div class="fs-14 fw-semibold">Solana</div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="javascript:void(0);" class="stretched-link"></a>
                                            <div class="d-flex align-items-center gap-2">
                                                <div>
                                                    <span class="avatar avatar-rounded avatar-sm bg-light p-1">
                                                        <img src="../assets/images/nft-images/39.png" alt="">
                                                    </span>
                                                </div>
                                                <div class="fs-14 fw-semibold">Tezos</div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="javascript:void(0);" class="stretched-link"></a>
                                            <div class="d-flex align-items-center gap-2">
                                                <div>
                                                    <span class="avatar avatar-rounded avatar-sm bg-light p-1">
                                                        <img src="../assets/images/nft-images/37.png" alt="">
                                                    </span>
                                                </div>
                                                <div class="fs-14 fw-semibold">Avalanche</div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="javascript:void(0);" class="stretched-link"></a>
                                            <div class="d-flex align-items-center gap-2">
                                                <div>
                                                    <span class="avatar avatar-rounded avatar-sm bg-light p-1">
                                                        <img src="../assets/images/nft-images/38.png" alt="">
                                                    </span>
                                                </div>
                                                <div class="fs-14 fw-semibold">Cardano</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="card custom-card">
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        Choose Wallet
                                    </div>
                                    <div>
                                        <button class="btn btn-secondary btn-wave">Add New Wallet</button>
                                    </div>
                                </div>
                                <div class="card-body p-4">
                                    <div class="row justify-content-center">
                                        <div class="col-xxl-3">
                                            <div class="card custom-card nft-wallet active">
                                                <div class="card-body p-3">
                                                    <a href="javascript:void(0);" class="stretched-link"></a>
                                                    <div class="d-flex align-items-center justify-content-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar avatar-rounded p-2 bg-light">
                                                                <img src="../assets/images/nft-images/42.png" alt="">
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <h6 class="fw-semibold mb-0">MetaMask</h6>  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-3">
                                            <div class="card custom-card nft-wallet">
                                                <div class="card-body p-3">
                                                    <a href="javascript:void(0);" class="stretched-link"></a>
                                                    <div class="d-flex align-items-center justify-content-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar avatar-rounded p-2 bg-light">
                                                                <img src="../assets/images/nft-images/41.png" alt="">
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <h6 class="fw-semibold mb-0">Enjin Wallet</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-3">
                                            <div class="card custom-card nft-wallet">
                                                <div class="card-body p-3">
                                                    <a href="javascript:void(0);" class="stretched-link"></a>
                                                    <div class="d-flex align-items-center justify-content-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar avatar-rounded bg-light">
                                                                <img src="../assets/images/nft-images/43.png" alt="">
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <h6 class="fw-semibold mb-0">Trust Wallet</h6>  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-3">
                                            <div class="card custom-card nft-wallet">
                                                <div class="card-body p-3">
                                                    <a href="javascript:void(0);" class="stretched-link"></a>
                                                    <div class="d-flex align-items-center justify-content-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar avatar-rounded bg-light p-2">
                                                                <img src="../assets/images/nft-images/40.png" alt="">
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <h6 class="fw-semibold mb-0">Coinbase Wallet</h6>  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-3">
                                            <div class="card custom-card nft-wallet">
                                                <div class="card-body p-3">
                                                    <a href="javascript:void(0);" class="stretched-link"></a>
                                                    <div class="d-flex align-items-center justify-content-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar avatar-rounded bg-light p-2">
                                                                <img src="../assets/images/nft-images/44.png" alt="">
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <h6 class="fw-semibold mb-0">Lido</h6>  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-3">
                                            <div class="card custom-card nft-wallet">
                                                <div class="card-body p-3">
                                                    <a href="javascript:void(0);" class="stretched-link"></a>
                                                    <div class="d-flex align-items-center justify-content-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar avatar-rounded bg-light">
                                                                <img src="../assets/images/nft-images/45.png" alt="">
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <h6 class="fw-semibold mb-0">Huobi Wallet</h6>  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div>
                                        <button class="btn btn-success float-end btn-wave">Connect</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End::row-1 -->
                </div>

            </div>
    