@page "/form_select"
@using Soenneker.Blazor.TomSelect
@using Soenneker.Blazor.TomSelect.Base 
@using Soenneker.Blazor.TomSelect.Dtos
@using System.Collections.Generic

<!-- Prism CSS -->
<link rel="stylesheet" href="../assets/libs/prismjs/themes/prism-coy.min.css">

<!-- Tom Select CSS -->
<link rel="stylesheet" href="../assets/libs/tom-select/css/tom-select.bootstrap5.min.css">


            <div class="container-fluid">

                <!-- Page Header -->
                <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                    <h1 class="page-title fw-semibold fs-18 mb-0">Form Select</h1>
                    <div class="ms-md-1 ms-0">
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Form Elements</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Form Select</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- Page Header Close -->

                <!-- Start::row-1 -->
                <div class="row">
                    <div class="col-xl-4">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Default Select
                                </div>
                                <div class="prism-toggle">
                                    <button class="btn btn-sm btn-primary-light">Show Code<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Open this select menu
                                    </option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="card-footer d-none border-top-0">
<!-- Prism Code -->
<pre class="language-html"><code class="language-html">&lt;select class="form-select" aria-label="Default select example"&gt;
    &lt;option selected&gt;Open this select menu
    &lt;/option&gt;
    &lt;option value="1"&gt;One&lt;/option&gt;
    &lt;option value="2"&gt;Two&lt;/option&gt;
    &lt;option value="3"&gt;Three&lt;/option&gt;
&lt;/select&gt;</code></pre>
<!-- Prism Code -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Disabled Select
                                </div>
                                <div class="prism-toggle">
                                    <button class="btn btn-sm btn-primary-light">Show Code<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <select class="form-select" aria-label="Disabled select example" disabled="">
                                    <option selected="">Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="card-footer d-none border-top-0">
<!-- Prism Code -->
<pre class="language-html"><code class="language-html">&lt;select class="form-select" aria-label="Disabled select example" disabled=""&gt;
    &lt;option selected=""&gt;Open this select menu&lt;/option&gt;
    &lt;option value="1"&gt;One&lt;/option&gt;
    &lt;option value="2"&gt;Two&lt;/option&gt;
    &lt;option value="3"&gt;Three&lt;/option&gt;
&lt;/select&gt;</code></pre>
<!-- Prism Code -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Rounded Select
                                </div>
                                <div class="prism-toggle">
                                    <button class="btn btn-sm btn-primary-light">Show Code<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <select class="form-select rounded-pill" aria-label="Default select example">
                                    <option selected>Open this select menu
                                    </option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="card-footer d-none border-top-0">
<!-- Prism Code -->
<pre class="language-html"><code class="language-html">&lt;select class="form-select rounded-pill" aria-label="Default select example"&gt;
    &lt;option selected&gt;Open this select menu
    &lt;/option&gt;
    &lt;option value="1"&gt;One&lt;/option&gt;
    &lt;option value="2"&gt;Two&lt;/option&gt;
    &lt;option value="3"&gt;Three&lt;/option&gt;
&lt;/select&gt;</code></pre>
<!-- Prism Code -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End::row-1 -->

                <!-- Start:: row-2 -->
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Multiple Attribute Select
                                </div>
                                <div class="prism-toggle">
                                    <button class="btn btn-sm btn-primary-light">Show Code<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <select class="form-select" multiple="" aria-label="multiple select example">
                                    <option selected="">Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="card-footer d-none border-top-0">
<!-- Prism Code -->
<pre class="language-html"><code class="language-html">&lt;select class="form-select" multiple="" aria-label="multiple select example"&gt;
    &lt;option selected=""&gt;Open this select menu&lt;/option&gt;
    &lt;option value="1"&gt;One&lt;/option&gt;
    &lt;option value="2"&gt;Two&lt;/option&gt;
    &lt;option value="3"&gt;Three&lt;/option&gt;
&lt;/select&gt;</code></pre>
<!-- Prism Code -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Using Size Attribute
                                </div>
                                <div class="prism-toggle">
                                    <button class="btn btn-sm btn-primary-light">Show Code<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <select class="form-select" size="4" aria-label="size 3 select example">
                                    <option selected="">Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <option value="4">Four</option>
                                    <option value="5">Five</option>
                                </select>
                            </div>
                            <div class="card-footer d-none border-top-0">
<!-- Prism Code -->
<pre class="language-html"><code class="language-html">&lt;select class="form-select" size="4" aria-label="size 3 select example"&gt;
    &lt;option selected=""&gt;Open this select menu&lt;/option&gt;
    &lt;option value="1"&gt;One&lt;/option&gt;
    &lt;option value="2"&gt;Two&lt;/option&gt;
    &lt;option value="3"&gt;Three&lt;/option&gt;
    &lt;option value="4"&gt;Four&lt;/option&gt;
    &lt;option value="5"&gt;Five&lt;/option&gt;
&lt;/select&gt;</code></pre>
<!-- Prism Code -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:: row-2 -->

                <!-- Start:: row-3 -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Select Sizes
                                </div>
                                <div class="prism-toggle">
                                    <button class="btn btn-sm btn-primary-light">Show Code<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
                                    <option selected="">Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select><select class="form-select mb-3" aria-label="Default select">
                                    <option selected>Open this select menu
                                    </option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <select class="form-select form-select-lg"
                                    aria-label=".form-select-lg example">
                                    <option selected="">Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="card-footer d-none border-top-0">
<!-- Prism Code -->
<pre class="language-html"><code class="language-html">&lt;select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example"&gt;
    &lt;option selected=""&gt;Open this select menu&lt;/option&gt;
    &lt;option value="1"&gt;One&lt;/option&gt;
    &lt;option value="2"&gt;Two&lt;/option&gt;
    &lt;option value="3"&gt;Three&lt;/option&gt;
&lt;/select&gt;&lt;select class="form-select mb-3" aria-label="Default select"&gt;
    &lt;option selected&gt;Open this select menu
    &lt;/option&gt;
    &lt;option value="1"&gt;One&lt;/option&gt;
    &lt;option value="2"&gt;Two&lt;/option&gt;
    &lt;option value="3"&gt;Three&lt;/option&gt;
&lt;/select&gt;
&lt;select class="form-select form-select-lg"
    aria-label=".form-select-lg example"&gt;
    &lt;option selected=""&gt;Open this select menu&lt;/option&gt;
    &lt;option value="1"&gt;One&lt;/option&gt;
    &lt;option value="2"&gt;Two&lt;/option&gt;
    &lt;option value="3"&gt;Three&lt;/option&gt;
&lt;/select&gt;</code></pre>
<!-- Prism Code -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:: row-3 -->

                <!-- Start::row-4 -->
                <h6 class="fw-semibold mb-2">Blazor Tom Select:</h6>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Single Tom Select</div>
                            </div>
                            <div class="card-body">
                                <TomSelect TItem="SelectItem" Items=_selectedItems  TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_options" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Open this select menu" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Multiple Tom Select</div>
                            </div>
                            <div class="card-body">
                                <TomSelect TItem="MultiSelectItem" Items=_MultiselectedItems TType="string" @bind-Value="_MultiselectedValue" Multiple="true" Data="_Multioptions" TextField="@(item => item.MultiName)" ValueField="@(item => item.MultiId)" Placeholder="Open this select menu" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End::row-4 -->

                <!-- Start::row-5 -->
                <h6 class="fw-semibold mb-2"> Tom Select WIth Javascript:</h6>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Single Select Option groups</div>
                            </div>
                            <div class="card-body">
                                <select id="Single-option-group" >
                                    <optgroup label="UK">
                                        <option value="London">London</option>
                                        <option value="Manchester">Manchester</option>
                                        <option value="Liverpool">Liverpool</option>
                                    </optgroup>
                                    <optgroup label="FR">
                                        <option value="Paris">Paris</option>
                                        <option value="Lyon">Lyon</option>
                                        <option value="Marseille">Marseille</option>
                                    </optgroup>
                                    <optgroup label="DE" disabled>
                                        <option value="Hamburg">Hamburg</option>
                                        <option value="Munich">Munich</option>
                                        <option value="Berlin">Berlin</option>
                                    </optgroup>
                                    <optgroup label="US">
                                        <option value="New York">New York</option>
                                        <option value="Washington" disabled>Washington</option>
                                        <option value="Michigan">Michigan</option>
                                    </optgroup>
                                    <optgroup label="SP">
                                        <option value="Madrid">Madrid</option>
                                        <option value="Barcelona">Barcelona</option>
                                        <option value="Malaga">Malaga</option>
                                    </optgroup>
                                    <optgroup label="CA">
                                        <option value="Montreal">Montreal</option>
                                        <option value="Toronto">Toronto</option>
                                        <option value="Vancouver">Vancouver</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Multiple Select Option groups</div>
                            </div>
                            <div class="card-body">
                                <select id="Multiple-option-group" Multiple>
                                    <optgroup label="UK">
                                        <option value="London" selected>London</option>
                                        <option value="Manchester">Manchester</option>
                                        <option value="Liverpool">Liverpool</option>
                                    </optgroup>
                                    <optgroup label="FR">
                                        <option value="Paris">Paris</option>
                                        <option value="Lyon">Lyon</option>
                                        <option value="Marseille">Marseille</option>
                                    </optgroup>
                                    <optgroup label="DE" disabled>
                                        <option value="Hamburg">Hamburg</option>
                                        <option value="Munich">Munich</option>
                                        <option value="Berlin">Berlin</option>
                                    </optgroup>
                                    <optgroup label="US">
                                        <option value="New York">New York</option>
                                        <option value="Washington" disabled>Washington</option>
                                        <option value="Michigan">Michigan</option>
                                    </optgroup>
                                    <optgroup label="SP">
                                        <option value="Madrid">Madrid</option>
                                        <option value="Barcelona">Barcelona</option>
                                        <option value="Malaga">Malaga</option>
                                    </optgroup>
                                    <optgroup label="CA">
                                        <option value="Montreal">Montreal</option>
                                        <option value="Toronto">Toronto</option>
                                        <option value="Vancouver">Vancouver</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Multiple Select With Remove Button</div>
                            </div>
                            <div class="card-body">
                                <select id="select-tags" multiple class="form-control">
                                    <option value="Choice 1" selected>Choice 1</option>
                                    <option value="Choice 2">Choice 2</option>
                                    <option value="Choice 3">Choice 3</option>
                                    <option value="Choice 4">Choice 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Passing Unique Values</div>
                            </div>
                            <div class="card-body">
                                <select id="select-words-unique" multiple placeholder="Enter unique words (case-insensitive)..."></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Dropdown Input</div>
                            </div>
                            <div class="card-body">
                                <select id="ex-dropdown-input" autocomplete="off" placeholder="How cool is this?">
                                    <option>amazing</option>
                                    <option selected>awesome</option>
                                    <option>cool</option>
                                    <option>excellent</option>
                                    <option>great</option>
                                    <option>neat</option>
                                    <option>superb</option>
                                    <option>wonderful</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Data-* Attributes</div>
                            </div>
                            <div class="card-body">
                                <select id="data-attr">
                                    <option value="user1" data-src="../assets/images/faces/9.jpg">Json Taylor</option>
                                    <option value="user2" data-src="../assets/images/faces/5.jpg">Sujika</option>
                                    <option value="user3" data-src="../assets/images/faces/2.jpg">Emiley Jackson</option>
                                    <option value="user4" data-src="../assets/images/faces/10.jpg">McGreggor</option>
                                    <option value="user5" data-src="../assets/images/faces/8.jpg">Alissa</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Passing Through Options</div>
                            </div>
                            <div class="card-body">
                                <input id="input-tags" value="awesome,neat" autocomplete="off" placeholder="How cool is this?">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Email Address Only</div>
                            </div>
                            <div class="card-body">
                                <select id="select-to" class="contacts" placeholder="Pick some people..."></select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End::row-5 -->

            </div>
@code {
    private string? _selectedValue;
    private List<SelectItem>? _options;
    private List<SelectItem> _selectedItems = [];

    public class SelectItem
    {
        public string? Id { get; set; }
        public string? Name { get; set; }
        public bool Selected { get; set; }
    }
    private string? _MultiselectedValue;
    private List<MultiSelectItem>? _Multioptions;
    private List<MultiSelectItem> _MultiselectedItems = [];
    public class MultiSelectItem
    {
        public string? MultiId { get; set; }
        public string? MultiName { get; set; }
    }
    protected override void OnInitialized()
    {
        // Fetch or initialize your data
        _options = new List<SelectItem>
        {
            new SelectItem { Id = "1", Name = "Choice 1"},
            new SelectItem { Id = "2", Name = "Choice 2"},
            new SelectItem { Id = "3", Name = "Choice 3"},
            new SelectItem { Id = "4", Name = "Choice 4"},
            new SelectItem { Id = "5", Name = "Choice 5"},
            new SelectItem { Id = "6", Name = "Choice 6"}
        };
        _selectedItems =  _options!.Take(2).ToList();

         _Multioptions = new List<MultiSelectItem>
        {
            new MultiSelectItem { MultiId = "1", MultiName = "Choice 1"},
            new MultiSelectItem { MultiId = "2", MultiName = "Choice 2"},
            new MultiSelectItem { MultiId = "3", MultiName = "Choice 3"},
            new MultiSelectItem { MultiId = "4", MultiName = "Choice 4"},
            new MultiSelectItem { MultiId = "5", MultiName = "Choice 5"},
            new MultiSelectItem { MultiId = "6", MultiName = "Choice 6"}
        };
        _MultiselectedItems =  _Multioptions!.Take(3).ToList();
    }
    
}

<!-- Tom Select JS -->
<script src="../assets/libs/tom-select/js/tom-select.complete.min.js"></script>
<script src="../assets/js/form-select.js"></script>

<!-- Prism JS -->
<script src="../assets/libs/prismjs/prism.js"></script>
<script src="../assets/js/prism-custom.js"></script>