@page "/counter"

            <div class="container-fluid">

                <!-- Page Header -->
                <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                    <h1 class="page-title fw-semibold fs-18 mb-0">Counters</h1>
                    <div class="ms-md-1 ms-0">
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Counters</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- Page Header Close -->

                <!-- Start::row-1 -->
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                   Blazor Counter's Increment
                                </div>
                            </div>
                            <div class="card-body py-4">
                                <p role="status">Current count: @currentCount</p>
                                <button class="btn btn-primary" @onclick="IncrementCount">Click Me</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                   Blazor Counter's Decrement
                                </div>
                            </div>
                            <div class="card-body py-4">
                                <p role="status">Current count: @currentCount1</p>
                                <button class="btn btn-primary" @onclick="DecrementCount">Click Me</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End::row-1 -->

            </div>


@code {
    private int currentCount = 0;
    private int currentCount1 = 10;

    private void IncrementCount()
    {
        currentCount++;
    }
    private void DecrementCount()
    {
        currentCount1--;
    }
}
