
        <footer class="footer mt-auto py-3 bg-white text-center">
            <div class="container">
                <span class="text-muted"> Copyright © @currentYear <a
                        href="javascript:void(0);" class="text-dark fw-semibold">Unigestor</a>.
                    Todos os direitos reservados
                </span>
            </div>
        </footer>


@code {
    private int currentYear;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        currentYear = DateTime.Now.Year;
    }
}