<!-- Start:: Footer -->
            <div class="landing-main-footer py-3">
                <div class="container">
                    <div class="d-flex flex-wrap gap-2 align-items-center justify-content-between">
                        <div>
                            <span class="text-fixed-white op-7 fs-14"> © Copyright @currentYear <a
                                href="javascript:void(0);" class="text-primary fs-15 fw-semibold">Ynex</a>.
                            </span>
                        </div>
                        <div>
                            <ul class="list-unstyled fw-normal landing-footer-list mb-0">
                                <li>
                                    <a href="javascript:void(0);" class="text-fixed-white op-8">Terms Of Service</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="text-fixed-white op-8">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="text-fixed-white op-8">Legal</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="text-fixed-white op-8">Contact</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="text-fixed-white op-8">Report Abuse</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End:: Footer -->
 
@code {
    
    private int currentYear;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        currentYear = DateTime.Now.Year;
    }
}
